.button {
    position: relative;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    background-color: #e8e8e8;
    padding: 7px 15px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.4s ease;
  }
  
  .button:before {
    content: "";
    position: absolute;
    pointer-events: none;
    width: 100%;
    height: 20%;
    background-color: #e8e8e8;
    translate: -100% 0;
    rotate: 45deg;
    transition: all 0.4s ease;
  }
  
  .button:hover {
    background-color: #64e86f;
    box-shadow: 0 0 24px 8px rgba(100, 232, 107, 0.4);
  }
  
  .button:hover:before {
    translate: 100%;
  }
  
  .button:active {
    scale: 0.95;
    box-shadow: 0 0 16px 4px rgba(100, 232, 107, 0.4);
  }
  