.container-desktop{
    margin: auto 0;
    min-width: 420px;
    width: 100%;
    max-width: 550px;
    background-color: rebeccapurple;
    height: 90vh;
    display: grid;
    grid-template: repeat(6, 1fr)/repeat(7, 1fr);
    border-radius: 20px;
}

img{
    grid-column: 2/7;
    grid-row: 4/7;
    width: 100%;
}

.create-todo{
    grid-column: 1/8;
    grid-row: 2/3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 47px;
}

h2{
    grid-column: 2/7;
    grid-row: 1/2;
    font-size: 28px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

@media screen and (max-width:850px) {
    .container-desktop{
        display: none;
    }
}