ul{
    padding: 0;
    margin: 10px 0;
    min-width: 290px;
    width: 100%;
    background-color:#ffe1c2;
    box-sizing: border-box;
    height: 450px;
    border-radius: 10px;
    overflow: auto;
}

@media screen and (max-width:600px){
    ul{
        height: 48%;
    }
}